Language: Cpp
BasedOnStyle: Google


AccessModifierOffset: -4

IndentWidth: 4

ColumnLimit: 140

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false


DerivePointerAlignment: false
PointerAlignment: Left

# SeparateDefinitionBlocks Always

AllowShortFunctionsOnASingleLine: Empty
